[2017-02-27 20:08] clales25 opened #1 "Translating entities not working"
Hi there.

I would like to bring the following bug to your attention.

We cannot import the entity translations with the latest version of Easy translator (v1.2017.2.1) .  The progress bar becomes red right away as it seems to hang to the first Excel Tab (Entity).

A coworker still has the older version before the progress bar feature was added (1.2016.8.23) and is able to import entity translatio

[2017-02-27 20:15] MscrmTools commented on #1
Please update XrmToolBox to latest version and everything should work well

[2017-02-27 20:44] clales25 commented on #1
Still doesnt.

Just tried with Xrmtoolbox V1.2017.2.13

See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

************** Exception Text **************
System.ArgumentOutOfRangeException: Value of '110' is not valid for 'Value'. 'Value' should be between 'minimum' and 'maximum'.
Parameter name: Value
   at System.Windows.Forms.ProgressBar.

[2017-02-27 20:57] MscrmTools commented on #1
Ok, this is another issue of can fix quickly but tomorrow

[2017-02-27 21:34] clales25 commented on #1
Ok thanks!

________________________________
De : MscrmTools <notifications@github.com>
Envoyé : 27 février 2017 15:57
À : MscrmTools/MsCrmTools.Translator
Cc : clales25; Author
Objet : Re: [MscrmTools/MsCrmTools.Translator] Translating entities not working (#1)

Ok, this is another issue of can fix quickly but tomorrow

—
You are receiving this because you authored the thread.
Reply to this email

[2017-03-01 15:52] clales25 commented on #1
Hi there

Any news on a patch to fix easy translator?

Merci.
________________________________
De : MscrmTools <notifications@github.com>
Envoyé : 27 février 2017 15:57
À : MscrmTools/MsCrmTools.Translator
Cc : clales25; Author
Objet : Re: [MscrmTools/MsCrmTools.Translator] Translating entities not working (#1)

Ok, this is another issue of can fix quickly but tomorrow

—
You are receiving this be

[2017-03-02 13:01] MscrmTools commented on #1
Fixed

[2017-03-02 13:01] #1 closed

[2017-03-17 09:02] maricasoderstam opened #2 "Cannot import the translation file"
Hi,

I'm trying to import a translation where we have complemented with another language and I get the following error message. I can't really tell whats wrong but hopefully you might be able to help me.

Thanks in advance!

![2017-03-17 09_56_49-xrmtoolbox for microsoft dynamics crm 2011 to 2016 v1 2017 2 13 - easy translate](https://cloud.githubusercontent.com/assets/26480071/24036090/5f90bf96-0

[2017-03-20 10:49] MscrmTools commented on #2
Hi what is the version of Easy Translator you are using?

[2017-03-20 13:42] maricasoderstam commented on #2
@MscrmTools I fixed it myself. Was some kind of restrict activated in the file when i tried to import which resulted in this error. You can close this :)

[2017-03-20 13:42] #2 closed

[2017-03-20 15:46] MscrmTools opened #3 "Importing translations"
@twanninger commented on [Mon Apr 11 2016](https://github.com/MscrmTools/XrmToolBox/issues/397)

I have been working on importing languages into my CRM environment via the Easy Translator tool in the XRM Toolbox.  I would continue running into errors when it would get to the _base fields.  This has been an issue in the past so I removed all the _base fields from the translation document and tried

[2017-03-20 15:48] maricasoderstam commented on #3
I think it's because it uses the plural name of the entity instead of a custom label.

[2017-03-20 15:53] JDHannan commented on #3
I have done an export with the tool, then done a re-import with no changes and re-imported it and had it not work as i said on July 16 above. While it might be true that having no translation for the base language breaks it, it seems like the tool shouldn't export something it can't re-import. Either have it export the default value for the default language, or have it ignore rows with nothing in

[2017-03-20 15:54] MscrmTools commented on #3
I think I'm retrieving only those with a custom label

[code]

[2017-03-20 15:58] maricasoderstam commented on #3
I think the issue is that on one of the entities I'm using the plural name and the other has a custom label. So maybe that has something to do with it?

[2017-03-20 16:42] MscrmTools commented on #3
Good catch! So this is a NN relationship with one custom label et one plural name, am I correct?

[2017-03-20 18:16] MscrmTools commented on #3
Ok, found the issue, code is ready to ship but I will add small improvements before that

[2017-03-21 08:05] #3 closed

[2017-04-28 06:37] MscrmTools opened #4 "Easy Translator - Unable to import multiple entity options at once"
@slaplant commented on [Mon Apr 10 2017](https://github.com/MscrmTools/XrmToolBox/issues/610)

Hi,
I am using CRM 2013 and Easy Translator. Whenever I try to export any combination of Entity related options translation, if I select Attributes and Relationships in the same export file, whenever I try to import it back it fails and I get the attached error message. I get this behavior for all my cus

[2017-04-28 06:38] MscrmTools commented on #4
Fix is on its way!

[2017-04-28 06:39] #4 closed

[2017-07-27 03:59] fvakiliev opened #5 "Suggestion for BPF translation"
Hi Tanguy!

I think that, it will be nice if you add у possibility to translate _Business Process Flow_ items (aka Display names for _Stages_ and _Steps_).

Best regards,
Firat

[2017-08-02 13:29] Lafil opened #6 "Lock kept on Excel translation file after import"
After importing a translation file, the tool and/or the XrmToolBox instance keeps a lock on the file.
I have to close out XrmToolBox and relaunch it in order to be able to reopen my file and update it further.

[2017-08-27 22:48] naveedmcp opened #7 "Object referene exception while importing the translation file"
Hi,
While importing back the translation, I am getting following error. I have kept all the validations which were mentioned in the import module guidelines but unfortunately getting the error. For security reasons, I have removed the server names and timestamp from the logs.

Error      Relationships     1:1
Error      Relationships     2:1
Error      Relationships     3:1
Error      Global Optio

[2017-09-14 12:31] rappen opened #8 "Add options for DisplayName and Description"
Sometimes you only want to change DisplayNames.
Sometimes you only want to change Descriptions.

Adding checkboxes for which of those to include in the exported file would make those situations easier :)

(And obviously at least one of them have to be checked)

[2017-10-12 14:44] maricasoderstam opened #9 "Be able to select a solution that you want to translate"
To minimize the possibility that you forget to select one entity out of many in one solution, then it would be great that you can select the solution you want to translate and that will automatically select the entities in it for translation.

[2018-02-28 14:35] StephaneSeguin opened #10 "Translation of multiselect Option set"
The Multi Select fields are not exported in the Excel File.

[2018-03-02 10:09] emmaloldin opened #11 "Automatically created fields for rollup fields are missing when exporting translations"
When exporting translations using Easy Translator, fields that are automatically created when creating a rollup field are not included in the exported file. Examle: xxfield_rollup_date / xxfield_rollup_state.

[2018-04-10 06:33] MscrmTools commented on #6
Fix on next release

[2018-04-10 06:45] MscrmTools commented on #9
Will be included in next release

[2018-04-10 07:20] #6 closed, assigned to nobody

[2018-04-10 07:36] #10 closed

[2018-04-24 11:02] rappen opened #12 "Form name change not coming through"
_Ok, this might be hard to investigate, but I'll report it anyway._

I exported entities and forms, and changed the name of the forms to match the entity names, instead of just being called "Information". Imported the updated translation file.

The changes are applied when looking at forms in the solution, but when opening a record of the changed entities the form name is still the old one. Tried

[2018-08-27 13:11] MscrmTools opened #13 "Issue while importing translated custom entity via Easy Translator"
@jalakraval123 commented on [Thu Aug 16 2018](https://github.com/MscrmTools/XrmToolBox/issues/797)

We're using the plug-in called "Easy Translation" to Import/Export Import translated entity and field text.

We're facing the below error's while importing the translated custom entity.

[MsCrmTools.Translator.log](https://github.com/MscrmTools/XrmToolBox/files/2293721/MsCrmTools.Translator.log)

Co

[2018-09-06 16:55] katzenbe opened #14 "Fonts used in Easy Translator, and warning text"
What fonts are  used on the "Export Translations" and "Import Translations" tabs of the Easy Translator?  Also, can I suggest rewording the warning text like this:

Prior to using this tool ensure that you have a backup of the current customizations
If there is a problem the backup can be re-imported to restore original translations

The Excel file used to import translations must meet the followi

[2018-09-11 06:11] MscrmTools commented on #14
What about fonts? Is there a display problem?

Thanks for the rewording, I will update the text (sorry for my bad englsih)

[2018-09-13 18:30] katzenbe commented on #14
The font looks great.. I want to use the same font in an application but can't quite tell what it is. Calibri maybe, or Segoe UI?

[2018-09-13 19:51] katzenbe commented on #13
Looks like the exported Excel is not getting the proper headers.

Version 1.2018.7.28

I selected all entities, checked only "Export Dashboards custom labels Translation" and exported. Excel worksheets 'Dashboards Tabs' and 'Dashboards Sections' did not have header rows. Made changes to 1033 columns in "Dashboards" and "Dashboard Fields". Reimported. 1033 changes were imported and published.  Erro

[2018-12-04 15:08] liesbetclaes opened #17 "Easy translator : problem with single line of text with format URL"
A single line of text field on a form, with the format of URL is changed after reimporting the translation file (with easy translator).  The field has now a format of TEXT instead of URL, and cannot be used anymore as a clickable link.

[2019-01-09 09:21] INKUBIT opened #15 "Translations for non-base langauge is set back to default for system option sets"
Hi there,

we experience issues with translating system option set labels for additional languages. This is only happening for system option sets and for an additional installed language.

We have an instance with English as the base language and then German as an additional language installed. We use the easy translator to customize the english label and translate the english label into German.

[2019-01-10 12:24] wlknsn opened #16 "Timeout settings is not being taken into account in v9"
In the connection string, whatever you insert as time-out isn't being used when publishing to v9. You keep getting the default error message back from v9 about exceeding 00:02:00

[2019-03-13 20:53] joeboard commented on #5
Did it change? It's possible to translate them via the OOB export/import translations functionalities, but your tool does that way better, I'd hope this would be part of it as well.

[2019-04-16 13:58] naveedmcp opened #18 "Headers missing in Dashboard Tabs, Dashboard Sections & Dashboard Fields"
![Dashboard Sections](https://user-images.githubusercontent.com/31393621/56215646-f9aa6780-602d-11e9-8aa2-e916cd9b3236.JPG)
![Dashboard Tabs](https://user-images.githubusercontent.com/31393621/56215647-f9aa6780-602d-11e9-9f4d-6da46c0d87f3.JPG)

After I exported the translation, I have found that the headers are missing in Dashboard Tabs, Dashboard Sections & Dashboard Fields worksheet. please find

[2019-04-18 05:09] MscrmTools commented on #15
Hi, sorry to answer so late.
So, if I understand correctly, system optionsets labels are set back to base language, but this behavior does not happen because of the use of Easy Translator, right?
If so, can you confirm you apply translation in your dev organization, and not on the other ones (uat, live, etc.)?
I would search for some solution import from a system that does not have the translation

[2019-04-18 05:11] MscrmTools commented on #16
It seems more like a bug in the Tooling assemblies than a bug in Easy Translator... Let me chack back with Microsoft

[2019-04-18 05:25] MscrmTools commented on #17
Thank you for reporting the issue.
Looking at the code, when updating an attribute, the full definition of the attribute is retrieved, then label and/or description are changed, then the attribute is updated.
I will need to try a repro and contact Microsoft if I can reproduce the issue

[2019-04-18 05:36] MscrmTools commented on #17
I was not able to reproduce your issue.

Can you confirm it is still happening?

[2019-04-23 08:04] INKUBIT commented on #15
Yes, it is not happening because of the easy translator. At least we think so.

Yes, we translate on dev, put it on test and then on prod.

Thanks for the hint! We need to test this behavior on a test system. We will keep you updated if we know anything new.

[2019-04-25 15:10] naveedmcp opened #19 "Translation for Quick Forms"
Hi,
Could you please advise if this utility also exports translation for Quick forms?

[2019-07-22 16:06] michaelmberger opened #20 "Translations for Workflow lablels not exported"
One line summary of the problem: Translations for Workflow lablels not exported
Full description of the problem/report: I have created a new Process of Category Business Process Flow. I added step labels to the steps.
When I export translations for my solution, the workflow label is not exported. Can an import/export functionality for workflows be added to the plugin?
Keywords: Workflow, translati

[2019-07-24 14:36] naveedmcp opened #21 "Entity Logical Name not populating in the exported file"
@MscrmTools
If I just export views after selecting multiple entities. I see that Entity Logical Name column in the exported excel.
![image](https://user-images.githubusercontent.com/31393621/61802718-f11cb680-adfe-11e9-9739-d1e81bdf874e.png)

[2019-11-09 14:52] rappen opened #22 "Intersect entities in solutions break entity loader"
If a solution contains a M:M-relationship it breaks adding items to the listview.
The UserLocalizedLabel of M:M-intersect entities is null, which causes this line to break:
https://github.com/MscrmTools/MsCrmTools.Translator/blob/master/MsCrmTools.Translator/MainControl.cs#L265

Adding null tolerance solves it.

Not sure if these "entities" should be included, and not sure if this bug is introduce

[2019-11-09 14:57] rappen commented on #21
Just got exactly the same!
![image](https://user-images.githubusercontent.com/2572253/68530566-935a9e80-0309-11ea-8fa5-5ecd94101a0d.png)

[2019-11-14 18:42] v22arvind opened #23 "Object reference error while importing Attributes"
Log file has below error while importing translations:
Error	Attributes	Object reference not set to an instance of an object.

No attribute translations are loaded due to this error

[2019-11-15 07:24] MscrmTools commented on #21
Ok, let me check that!

[2019-11-15 10:39] MscrmTools commented on #23
Well, that will be difficult to help you with so few information...
Can you provide your translation file?

[2019-11-15 12:49] MscrmTools commented on #20
as far as I know, there is now way through SDK to export/import workflow and workflow steps labels

[2019-11-15 12:49] #20 closed

[2019-11-15 12:57] v22arvind commented on #23
The error was due to the fact that an attribute (or more) which is present in the import file is missing in CRM. I believe it got deleted as part of some CR while our translators were working on the files for last 2 months.
Due to urgency to complete my import work, I downloaded the code and put few checks in place to avoid this error. After that I got few more errors during relation import, etc.

[2019-11-15 13:14] MscrmTools commented on #19
Yes it does

[2019-11-15 13:14] #19 closed

[2019-11-15 13:15] #17 closed

[2019-11-15 13:24] #16 closed

[2019-11-15 13:25] MscrmTools commented on #23
Thank you for the feedback!

[2019-11-15 13:37] MscrmTools commented on #14
It's Segoe UI

[2019-11-15 14:10] MscrmTools commented on #13
related to #18
Will be fixed with #18

[2019-11-15 14:10] #13 closed

[2019-11-15 14:27] MscrmTools commented on #7
Shouldn't be an issue anymore. If so, please reopen

[2019-11-15 14:27] #7 closed

[2019-11-15 14:27] #21 closed

[2019-11-15 14:27] #22 closed

[2019-11-15 14:27] #14 closed

[2019-11-15 14:27] #18 closed

[2019-11-15 14:28] #15 closed

[2019-11-27 06:41] #23 closed

[2019-12-04 11:09] BartM-NL opened #25 "Unexpected Results of translated form tabs, sections and form fields"
I can't figure out why Easy Translator gives other results for the same label-GUID.
When I export form tabs, form sections and form fields my results are not consequent. When I select entities from two different solutions (both unmanaged) I can get for instance the french translation (1036) in the first solution and the german (1031) in the other. And after imported my changes and then export agai

[2019-12-18 13:28] MscrmTools commented on #25
Working with multiple languages, I change the UI language for the user to get all translations for each language. It seems that Dynamics server takes some time to apply this UI language change.
I will add a pause to let Dynamics server to apply the change. That should fix the issue when exporting translations for forms

[2019-12-18 13:31] #25 closed

[2019-12-18 14:36] MscrmTools commented on #12
Ok, I reproduced, seems like a MS bug...

I will try to get in touch with them

[2020-01-08 12:37] MezMarianne opened #27 "Forms Tabs, Form Sections and Forms Fields"
When exporting translations and then trying to add translations to Tabs, Sections and Forms Fields, the Excel file turns the cell blue. The translations are ignored on import and the tool clearly states that cells with color will not be imported.
Is this a bug or a feature? Is it not possible to translate Tabs, Sections and Forms Fields with this tool?

The most important feature for me is the For

[2020-01-08 13:02] MscrmTools commented on #27
Definitively a bug for the cell being blue.

As for translation, there is a known issue here you need to open the form, save and publish to see the changes from an end user perspective.

The translation should be visible in form editor after using the tool but not form end user.

This issue is under review currently

[2020-01-10 07:20] goldiepatel opened #28 "Unable to add translations for the subgrid name"
It is not present in the form section translations

[2020-01-15 16:03] MinaKhalaf opened #29 "field has an invalid XAML formula definition."
While uploading the translation file from easy translator, I have faced the below error
new_netsalary_Base: The new_netsalary_base field has an invalid XAML formula definition.

Any help please ?

[2020-01-15 16:19] MscrmTools commented on #29
Remove the field from the translation file.
Can’t help more for now

[2020-01-23 14:40] v22arvind opened #30 "Translation of custom Button, Menu labels"
I exported custom entities and gave to translators. After importing the file back, during testing we found that Custom buttons are not translated.
I am trying to search the labels but am unable to find in the exported files.
Are these ribbon components not exported?

[2020-01-29 13:32] v22arvind commented on #30
Ok - so I see the code there but its not enabled/integrated in the mail tool because RibbonDiff entity doesn't accept updates.
I ended up doing a quick and dirty tool to
1. Export the data from RibbonDiff and then filter the unnecessary entities out.
2. For import, I first export the unmanaged solution file (managed should also work I believe) and then update the customization.xml using my quick/d

[2020-02-07 12:18] v22arvind opened #31 "Form Headers/Footers not included in template?"
Looks like the form headers and footers are not included in the exported template.
We are unable to update those in CRM.

[2020-02-27 14:58] LagerquistSara opened #32 "Quick View Form"
I would like it to be possible to translate even the quick view forms of an entity.

[2020-03-16 11:29] pakos47 opened #33 "Import Target"
I have a basic question about the import of the translations. Is it possible to change the import target to a custom solution?

[2020-04-21 13:32] Ezeckiel2517 commented on #25
From time to time I got the same issue. French translation become all empty.

Is there any config to change to pause delay?

[2020-04-23 07:32] v22arvind commented on #32
I had to write a quick dirty tool to update the solution's customization xml file to handle quick view forms and form headers and footers.

[2020-04-23 09:58] MscrmTools commented on #33
Translations are not about solutions but about solution components.
But you can already choose to translate only items from solution
![image](https://user-images.githubusercontent.com/10774317/80086222-b1cff180-8559-11ea-9e59-654ebb97417b.png)

[2020-04-23 09:58] #33 closed

[2020-04-23 09:59] MscrmTools commented on #30
As you found out, there is no way to update RibbonDiff element so that won't be included in this tool

[2020-04-23 09:59] #30 closed

[2020-04-23 12:02] MscrmTools commented on #28
They are exported

![image](https://user-images.githubusercontent.com/10774317/80097111-062f9d00-856b-11ea-8aa1-8b2933eee60e.png)

[2020-04-23 12:02] #28 closed

[2020-04-23 12:07] #31 closed

[2020-04-23 12:07] #32 closed

[2020-04-23 12:10] MscrmTools commented on #31
done in latest version to be available in the next hours

[2020-04-23 12:10] MscrmTools commented on #32
done in latest version to be available in the next hours

[2020-04-26 03:46] TencentLee opened #34 "Import big file is too slow"
Can we import translations by executing multiple requests?
The source code uses service.execute to update data, but for large files, a single request can be too slow.

[2020-04-26 06:46] MscrmTools commented on #34
Sure! Let me work on this

[2020-04-26 07:17] TencentLee commented on #34
This tool is very good. Great job!

[2020-04-30 02:21] TencentLee opened #35 "the form contents are updated twice"
The When the ImportFormsContent method is executed, it appears that parts of the form contents are updated twice.

if (hasFormContent)
                {
                    worker.ReportProgressIfPossible(0, new ProgressInfo
                    {
                        Message = "Importing form content translations...",
                        Item = 1,
                        Overall = overallPr

[2020-05-14 22:33] mattp65 opened #36 "Add option to export individual language files"
Most times, different people will do the translation for each language. It would be nice to be able to generate the files by Language (possibly even selecting the languages to export) and have the resulting file contain the Base lanaguage and the selected language only.

[2020-05-19 13:12] MscrmTools commented on #35
You are correct. I will store dashboards on their own list so that it's not updated twice.
Thank your for reporting

[2020-05-19 13:13] MscrmTools commented on #34
It has been deliverd as part of the latest release

[2020-05-19 13:13] #34 closed

[2020-05-19 15:14] #29 closed

[2020-05-19 15:14] #36 closed

[2020-05-19 15:14] #35 closed

[2020-06-08 22:45] ShaggyAbakion opened #37 "Not importing Entity, Attribute, Option Set and Boolean"
Hi there,

I have several times tried to update Entity, Attribute, Option Set and Boolean but no luck.

Se image below. Please help.

![image](https://user-images.githubusercontent.com/43342754/84087496-82325700-a9ea-11ea-80fe-ce4d9f37c956.png)

[2020-06-09 07:13] MscrmTools commented on #37
Can you share the log file?

[2020-06-11 06:42] MscrmTools commented on #37
@ShaggyAbakion answering using email does not send images you pasted in your email. Please answer throught Github website.
When import is complete, you should have an "open log file" link at the top of the progress panel

[2020-06-21 23:26] ShaggyAbakion commented on #37
Hi there,

I am getting this error all the time
![image](https://user-images.githubusercontent.com/43342754/85235921-5dda6f80-b419-11ea-9765-f5681fc05131.png)

and it stucjs here. There is no log

![image](https://user-images.githubusercontent.com/43342754/85237470-6f2a7880-b427-11ea-9400-d0cc3af73470.png)

[2020-06-22 13:58] MscrmTools commented on #37
The error message indicates a timeout. You need to raise the timeout of you connection so that the import process can last more tha,n 2 minutes

[2020-06-22 13:58] #37 closed

[2020-07-06 19:03] StephaneSeguin opened #38 "When exporting Forms Section, Forms Tab, Forms Attributes, the existing translation are not exported."
I'm Using version 1.2020.5.12 for CRM 8.2

Cannot add Screenshot, the site wont let me.

[2020-07-07 08:03] MscrmTools commented on #38
Can you precise if no rows are exported or if only non base language translations are not exported?

[2020-07-07 15:34] StephaneSeguin commented on #38
Hello,
I noticed that when I select all options, then the Forms Section, Forms Tab, Forms Attributes the base language is exported but not the extra language.  When I select only  Forms Section, Forms Tab, Forms Attributes then the extra language is exported.

Base language, 1033, Extra language 1036.

[2020-07-07 15:38] MscrmTools commented on #38
Thank you for these precisions, I will check the code

[2020-07-07 15:45] MscrmTools commented on #38
I just did a test on D365 online and everything worked as expected... Same situation => Base language, 1033, Extra language 1036.
All options checked => ok
Only Forms Tabs, Forms Sections and Forms Fields => ok too

I will try to find an 8.2 organization to try to reproduce

[2020-07-07 20:54] StephaneSeguin commented on #38
I found why. If my user that used in CRM is not in the base language, when I use the XRMtoolBox the translation are not exported for these options.

[2020-07-07 21:33] MscrmTools commented on #38
thank you! that helps a lot! I will check the code for that particular configuration

[2020-07-13 11:31] MscrmTools commented on #27
Just did a new test and it seems fields are translated correctly.
It might need a browser cache refresh but it does work.

Please reopen if this is still an issue for you

[2020-07-13 11:31] #27 closed

[2020-07-27 08:56] Martype opened #39 "System.TimeoutException"
Hi, when importing the translation file I get a System.TimeoutException. It first appeared after step "Form Contents". I then split up the excel and removed everything prior to the "Forms" sheet. The second and third run also ended up in a System.TimeoutException after step "Sitemaps".
This probably happens when the imported translations become published, right? If that's the case I'd even say tha

[2020-07-27 12:09] MscrmTools commented on #39
You just should raise the timeout of your connection to avoid this issue

[2020-08-20 21:12] darkphalanx opened #40 "Attributes and Option Set not importing"
When importing translations both Attributes and Option Set values show Total 1000, 0 ok, 0 failed. And I can't see them changing in Dynamics either.

Update: If I reduce the number of rows it worked but, tried reducing it to 83 which worked.

[2020-08-21 09:52] alexmare93 opened #41 "Not Processing Attributes Translations"
Hi,

I noticed that by importing translations, the Attributes, Optionset and Booleans tabs are not considered, calculating the total but not processing them at all:

![immagine](https://user-images.githubusercontent.com/57076004/90877678-c1930180-e3a4-11ea-967f-caa15d6abd06.png)

Could you verifiy?

Thank you,
Alessandro
---
- Deployment: OnPremise
- DB Version: 8.2.3.8
- Connection Controls Versi

[2020-09-02 05:44] falstaffjobs commented on #41
Same issue here, trying to import 264 account attributes but 0 processed or failed
<img width="1434" alt="Bildschirmfoto 2020-09-02 um 15 40 24" src="https://user-images.githubusercontent.com/10829964/91936452-3bc36e80-ed33-11ea-90e8-4c86c1b95f7f.png">

[2020-09-10 15:20] MscrmTools commented on #41
Thank you for reporting, I will check this

[2020-09-14 13:43] MscrmTools commented on #41
Hi guys, I found the issue which was a timeout issue.
Added possibility to set the batch requests quantity and an explicit log
Can you please test with this version

[MsCrmTools.Translator.zip](https://github.com/MscrmTools/MsCrmTools.Translator/files/5218803/MsCrmTools.Translator.zip)

[2020-09-18 12:28] #39 closed

[2020-09-18 12:39] #38 closed

[2020-09-18 12:43] MscrmTools commented on #40
Fixed in latest version

[2020-09-18 12:43] #40 closed

[2020-09-18 12:43] MscrmTools commented on #41
Fixed in latest version

[2020-09-18 12:43] #41 closed

[2020-09-28 09:24] pastacal opened #42 "[BUG] Error when exporting translations via Tool EasyTranslator"
In order to edit translations of a new field in our Microsoft Dynamics CRM, I am using the EasyTranslator Plugin to export translation data of Appointments. When clicking on export the process starts and it seems to work fine but then takes about 10 seconds with the status "Exporting forms translations..." before it stops and gives me the following error message:

![grafik](https://user-images.git

[2020-10-13 00:29] falstaffjobs opened #43 "Error importing Booleans"
I have trouble importing Boolean Translations on a custom entity:
![Bildschirmfoto 2020-10-13 um 11 20 48](https://user-images.githubusercontent.com/10829964/95801740-0ef97280-0d47-11eb-918b-eff2b7a0d428.png)

that's the template I get when I export the booleans:
![Bildschirmfoto 2020-10-13 um 11 27 51](https://user-images.githubusercontent.com/10829964/95801784-305a5e80-0d47-11eb-9df1-66ec688cb01

[2020-10-15 11:18] MscrmTools commented on #43
Can you translate the error message in english?

[2020-10-19 15:32] nferdinandova opened #45 "Too many attributes imported."
I have online instance and manage multiple translations.
When I open the tool and selected an entity to export, I select to export the "Entity related option" and only in the language that I will update.
I exported in a separate file the Global OptionSet labels - again one language only.

I edited the Global Option Set file by removing all lines that I did not need.
Then I edited the entity (accou

[2020-11-18 21:30] rpdom1337 opened #44 "Export SiteMap custom labels Translation -> An item with same key has already been added"
Hi,

When i just select Global Options  "Export SiteMap custom labels Translation", and i choose my unmanaged solution, i get this exception:
![image](https://user-images.githubusercontent.com/58991535/99590081-2a623800-29ed-11eb-9c3a-865952976226.png)

Do you have any idea what the cause of the  probem?
I have newest versions installed.

Thanks a lot for helping.

[2020-12-15 14:53] manuelstiphout opened #46 "object not set to an instance error when importing dashboard labels"
i'm getting this error when importing translated labels for a dashboard....

![image](https://user-images.githubusercontent.com/76054849/102230874-aae15f00-3eed-11eb-819c-c92d1361295f.png)

any ideas how to solve this?

[2020-12-15 15:10] MscrmTools commented on #46
What is your version of translator tool?

[2020-12-16 15:19] manuelstiphout commented on #46
i've updated xrm toolbox to 10.41 but i still get the same error. the easytranslator tool is on the latest version

[2020-12-16 15:20] manuelstiphout commented on #46
easytranslator is on 1.2020.9.14

[2020-12-16 18:41] MscrmTools commented on #46
And what is the version of the environment you are using? So that I can try to reproduce

[2020-12-17 09:51] manuelstiphout commented on #46
Version 1710 (9.1.0.25849) online

[2021-04-15 13:52] MscrmTools commented on #44
The only way to get this exception according to the code would be to have multiple titles or descriptions for the same item with the same language.

[2021-04-15 13:52] #44 closed

[2021-04-15 14:21] #42 closed

[2021-04-15 15:25] #45 closed

[2021-04-15 15:25] #46 closed

[2021-04-15 15:28] #43 closed

[2021-07-27 12:11] ManuelBuecherl opened #47 "Section and Tab Translation is not working"
Hi there,

since a few weeks we face an issue with Form Translation.
When importing Form **Tab** or Form **Section** Translations, they are getting imported successfully according to the Status of the Easy Translator, but they are not visible in the System.

When we then export the standard Translation ZIP, I can see, that the Translation did not reach the System.

Is that Issue already known?

Be

[2021-07-27 12:43] MscrmTools commented on #47
Hi, this is not a known issue.
Maybe something has changed on Microsoft side. I will try to investigate but I do not have lot of time these days

[2021-11-22 14:02] AhrimanSefid opened #48 "[BUG] Error while using Easy Translator"
I was translating a custom field in Opportunity. When I imported the file, i got this error:

---------------------------
Error
---------------------------
System.ServiceModel.FaultException`1[Microsoft.Xrm.Sdk.OrganizationServiceFault]: The entity with a name = 'appmodulecomponent' was not found in the MetadataCache. (Fault Detail is equal to Exception details:

ErrorCode: 0x80041102

Message: Th

[2021-11-22 14:02] #48 closed

[2022-02-07 09:18] AntiHero7 opened #49 "Importing global optionset translations throws exception after latest update"
Hi, this exception is thrown when importing:
![Exception](https://user-images.githubusercontent.com/47024125/152759400-afa80ad1-4c4a-46c4-9501-08fdeb4a6099.png)

I tried it on other machine with some previous version of this plugin and the import of the same file was ok.

Could you please check it? Thanks in advance.

[2022-02-07 10:58] MscrmTools commented on #49
Hi @AntiHero7, can you tell me if you have a global optionset that looks like a Boolean?

[2022-02-07 14:13] LarsBauer commented on #47
Unfortunately this issue still occurs. I am unable to update the translation of a section I newly added to a form. The default translation export/import is working fine. Any update on this? Is there anything we can support you with?

[2022-02-07 19:00] AntiHero7 commented on #49
Hi, maybe we do, but I would have to check. But the same optionsets were imported just fine on earlier version of the plugin, so I assumed that there were some code changes that caused this.

So the reason might be that some global optionsets have only two options and that does not work well with the latest update?
If we have some as global opSets, what could we do to make it work again? Thanks yo

[2022-02-07 20:02] MscrmTools commented on #49
Yes, there was definitively a code change that impact global optionset but I wasn't expecting a global optionset to be of type Boolean (which seems to be the case according to the error message).
Unfortunately, I'm on vacation for 8 days so I won't be able to fix this until then.
I will unlist latest version so that it does not prompt to update

[2022-02-08 08:45] AntiHero7 commented on #49
Great, thanks a lot.

[2022-02-09 17:04] ingerAH-PP commented on #47
We are facing the same issue, translation of form tabs and sections are not updated in the system.

Specs:

- Deployment: Online

- DB Version: 9.2.22012.00138

- Connection Controls Version: 1.2021.9.46

- XrmToolBox Version: 1.2021.12.53

- Easy Translator Version: 1.2022.2.17

[2022-02-18 08:51] MscrmTools commented on #47
@ingerAH-PP @LarsBauer I'm working on this issue currently. Can you tell me if the issue occurs for the base language of your organization or even for other languages?

[2022-02-18 08:55] LarsBauer commented on #47
Thanks for the update. My base language is set to English (1033) and I am unable to translate sections to German (1031).

[2022-02-18 09:04] MscrmTools commented on #49
@AntiHero7, can you test with this version and tell me if the issue is fixed ?
[MsCrmTools.Translator.zip](https://github.com/MscrmTools/MsCrmTools.Translator/files/8095716/MsCrmTools.Translator.zip)

[2022-02-18 09:05] MscrmTools commented on #47
ok, thank you. I will continue to investigate and let you know the result

[2022-02-18 10:20] AntiHero7 commented on #49
Hi, just tried it with global optionsets and it works. Thank you very much, should I close this Issue now?

[2022-02-18 10:41] MscrmTools commented on #49
I will close it myself after having released the new version

[2022-02-18 17:27] MscrmTools commented on #47
As per my test, even using standard translation process does not translate tabs and sections. I've opened a support request and I'm talking with the product team to understant why it does not work as expected

[2022-02-21 15:22] snake93 commented on #49
I'm tring to import a file to translate entities but I'm receiving this error from different machines
![image](https://user-images.githubusercontent.com/12747888/154983733-0478ad64-4456-4bba-ab44-297c1992b12d.png)

[2022-02-21 16:09] MscrmTools commented on #49
@snake93 this seems to be a different error
Can you test with this version?
[MsCrmTools.Translator.zip](https://github.com/MscrmTools/MsCrmTools.Translator/files/8110692/MsCrmTools.Translator.zip)

[2022-02-21 17:00] snake93 commented on #49
@MscrmTools Thank you for your sharing, but I have same error
![image](https://user-images.githubusercontent.com/12747888/154998882-a3e3cd30-9a68-49a2-b545-0e0d152cda72.png)

[2022-02-21 17:13] MscrmTools commented on #49
I'm sorry but I really do not reproduce. Any chance you can share your Excel file?

[2022-02-22 08:52] snake93 commented on #49
@MscrmTools please find attached the Excel file

[TranslateEntities.xlsx](https://github.com/MscrmTools/MsCrmTools.Translator/files/8115083/TranslateEntities.xlsx)

[2022-02-22 14:13] MscrmTools commented on #47
@LarsBauer @ingerAH-PP Would you be kind to test this version? I do succeed to translate tabs and sections with it
[MsCrmTools.Translator.zip](https://github.com/MscrmTools/MsCrmTools.Translator/files/8117280/MsCrmTools.Translator.zip)

[2022-02-23 07:43] snake93 commented on #49
@MscrmTools unfortunately, I have the same problem

[2022-02-23 08:01] MscrmTools commented on #49
@snake93 As per your error message, this is the only possibility. Did you remove juste the cell content or did you delete the row?

[2022-02-23 09:17] snake93 commented on #49
@MscrmTools it worked thank you

[2022-02-23 09:20] MscrmTools commented on #49
ok, happy to know the problem was with the file. I will add some additional controls to avoid this scenario

[2022-02-24 08:00] MscrmTools commented on #47
@LarsBauer @ingerAH-PP , would you have time to test the version I sent in the previous post? It would help close the case with Microsoft.

[2022-02-28 09:16] ingerAH-PP commented on #47
I have tested the version you sent (1.2022.2.19). I still experience the same issue, neither tabs and sections are being translated. Form fields are successfully translated.

[2022-02-28 12:44] MscrmTools commented on #47
That is strange... did you hard refresh your browser (Ctrl+F5) before checking the result?

[2022-02-28 13:53] ingerAH-PP commented on #47
Yes, and I have tried exporting translations for the same table that was recently translated and imported. The export shows that the translations for the form tabs and sections are empty. So the translations that were recently imported have somehow not been published.

[2022-03-07 14:08] SamueleNobile opened #50 "System.NullReferenceException"
I was using this tool and it started give me this error
![MicrosoftTeams-image (14)](https://user-images.githubusercontent.com/101119139/157049440-047fb396-aae1-49b7-bf2d-2186a2f1b43f.png)

I did all the steps as the days before.
It returns the same error to all my colleagues.

[2022-03-07 15:25] MscrmTools commented on #50
Can you also precise the version of the tool?

[2022-03-07 16:04] SamueleNobile commented on #50
Hi @MscrmTools
the version is 1.2022.2.18

I just checked and I confirm that there are not any extra line.

[2022-03-14 19:54] MscrmTools commented on #50
The error you sent a screenshot of is for charts. Can you look for something different in this sheet?

[2022-03-15 08:45] SamueleNobile commented on #50
Good morning @MscrmTools,
we changed few data in order to send the file to you.
Could you provide me a email to send the file to?

Thanks in advance

[2022-03-15 08:48] MscrmTools commented on #50
Can you send it to tanguy92[@]gmail_dot_com (remove brackets and replace _dot_ by .

[2022-03-15 11:02] MscrmTools commented on #50
@SamueleNobile ok I got your file but did not reproduced either the error message you sent first.
Can you send me the latest error screenshot that you have?

[2022-04-28 14:15] stact commented on #50
Hi @MscrmTools  got same issue on Charts. How to check on a previous version? I can't rollback the update ^^

[2022-04-28 14:31] MscrmTools commented on #50
Hi @stact, any chance I can get your file?
If you want to revert to a previous version, you can download and extract a [specific nuget package version](https://www.nuget.org/packages/MsCrmTools.Translator/) and replace the file in your Plugins folder

[2022-04-28 15:04] stact commented on #50
Hi @MscrmTools thank you for the trick!
Working with this previous version.
I sent you the file for investigation.

[2022-04-28 16:00] MscrmTools commented on #50
@stact, Thank you for the file.
I was able to parse it and import without any issue (except the fact that some charts does not exist on my target env)
I really don't know what is the problem here...
I know the answer is "no" but would it be possible to get an access to the environment to try importing the file to the faulty env ?

[2022-04-29 07:23] stact commented on #50
Hi @MscrmTools yes sure, but we are not on online platform, let me send you a meeting for screen share ;)

[2022-04-29 07:30] MscrmTools commented on #50
@stact if you are not online, then no interest. I would have liked to connect directly to debug code in real time

[2022-04-29 07:30] MscrmTools commented on #50
So what is your version of CRM?

[2022-04-29 07:42] stact commented on #50
Here the version @MscrmTools
Microsoft Dynamics 365
Version 2104 (9.1.9.8) (DB 9.1.9.8) on-premises

[2022-04-29 16:49] stact commented on #50
Could you share with us the procedure to debug the tool please?

[2022-04-29 16:58] MscrmTools commented on #50
Download source code and open it with visual studio
Restore Nuget packages (right click on solution)
Configure the project for debug : https://www.xrmtoolbox.com/documentation/for-developers/debug/
Run the project
Connect to your organisation
Import your file
Visual studio should stop where the null reference occurs
Send me a screenshot of visual studio where the problem occurs

[2022-05-22 07:30] gvbooost commented on #47
Any news on this matter? I experience the same behaviour (base: English, additional Dutch).

I have had trouble before half a year a go, maybe related or otherwise helping to find out: base language english, additional language dutch. For standard Dynamics objects the Dutch labels had been overwritten overnight by English ones. They had to remove the unmanaged solution layer for all "infected" obj

[2022-05-22 07:48] MscrmTools commented on #47
No progress so far but thank you for mentioning unmanaged layer. This is a path I need to check

[2022-05-22 09:35] gvbooost commented on #47
Just learned that exporting from a solution in the PowerApps maker app (instead of classic), fortunately does the job, although it is the same terrible spreadsheet format as before. Besides that, the new command button labels are exported too. So they have been working on it, as it seems.
Hope you can find the cause and fix it, as your tool helps to find and update what you really need to, without

[2022-06-21 17:36] cleitonsantos opened #51 "Import is not working for Quick view form section names"
Reproduction Steps:
- On a multi-language instance create a quick view form
- Export the translations for form sections only (doesn't matter if you do for options or just for form sections, results are the same)
- Update the translations for the section title
- Import back the tranlations

Expected:
**The form section title should be imported properly**

Result
**For any section the translations h

[2022-06-27 09:09] MscrmTools commented on #51
Hi @cleitonsantos, I know there is something not working anymore when working with sections, tabs and form fields...
But I'm not sure I can do something to fix this.
I need to find more time to investigate this point

[2022-07-20 09:32] arlassen commented on #50
Hi,
I have same issue when importing charts with English and Danish translations.
I believe I have most up-to-date versions with:
- XrmToolBox version is 1.2022.5.56.
- Easy Translator version is 1.2022.2.18.
- My environment is type Developer with database version 9.2.22063.00186.

I should fairly easy get it up and running in a Trial environment where you can get access to if needed. However, I

[2022-07-20 11:09] arlassen opened #52 "Export includes SiteMaps from other solutions"
I have loaded entities from a specific solution. But when exporting the translations it also includes SiteMaps (Areas, Groups, SubAreas) from other solutions in the environment. But it isn't a big problem to delete the additional rows from the Excel sheets - just a bit trivial when doing export-import multiple times.

Deployment: Online (Developer)
DB Version: 9.2.22063.00186
Connection Controls V

[2022-07-20 12:11] MscrmTools commented on #50
@arlassen if you can reproduce on this trial env, then I'm interesting to get access info to this trial + your translation file. I can have a quick check today

[2022-07-20 13:38] #50 closed

[2022-07-20 13:38] #52 closed

[2022-07-21 06:43] arlassen commented on #50
Good news, now it also works for me. Thanks for solving this :-)

[2022-07-29 15:48] MscrmTools commented on #47
I think I finally succeeded to fix this issue! A new version is coming in the next hours or so. Please test it to validate it works as expected

[2022-07-29 15:48] MscrmTools commented on #51
I think I finally succeeded to fix this issue! A new version is coming in the next hours or so. Please test it to validate it works as expected

[2022-08-09 12:15] fscattolin commented on #47
This issue is still present on latest version.

I discovered the following behavior.
You cannot traslante tabs ad section created using the new form designer. With Tabs and section created using legacy form editor Easy Translator works as expected.

[2022-08-16 15:10] zonton commented on #47
Issue is still there for me as well.
I tried many different setup to import fewer records without success.
I also tried to create a new main form in the legacy designer as fscattolin mentioned but the translations are not working either. (New Main Form then Save as)
I'm translating from French (Base Language) to English.

Keep up the great work, many thanks in advance

[2022-09-13 09:49] zonton commented on #47
Any news ?
Thank you very much.

[2022-09-25 10:59] dornell2020 opened #53 "Hhtprequest Timeout for importing translations"
I have tried with different number of entities, 4 then 3 than 1  , but importing the batch stops on timout. I recall I used before with more entities it did work like a charm.

![image](https://user-images.githubusercontent.com/61375688/192140099-778ec141-637b-45a7-bae4-b6010f1d7567.png)
<img width="557" alt="httptimeout" src="https://user-images.githubusercontent.com/61375688/192140122-3def7c13-6

[2022-09-26 09:49] dornell2020 commented on #53
any news sofar?? @v22arvind  @MscrmTools

[2022-10-05 11:04] antunesigor opened #54 "Empty localized label records are generated for values, preventing the label to fallback to base language"
I would like to report an issue with the tool, where when we import the translations file for option-sets, if we have empty cells (cells that we didn't translate it yet), it'll create empty localized labels in Dynamics.

This will prevent the labels to fallback to base language when the form is loaded.

Repro steps:
1. Create option-set in a multi-language organization
2. Check the metadata api/da

[2022-10-20 08:21] gvssr opened #56 "Empty translation columns for Tabs, Sections and Fields for both Forms and Dashboards"
When exporting translations with EasyTranslate, we're getting empty column values for language 1043 (Dutch):

- Forms: Tabs, Sections and Fields
- Dashboards: Tabs, Sections and Fields

![image](https://user-images.githubusercontent.com/61377476/196895259-7bd1fa50-6404-4fd9-829e-e0eb0f2f0173.png)

While in actuality, they are filled when exporting through Microsoft's solution:
![image](https://use

[2022-11-08 14:36] SvenRaeymaekers commented on #53
Any update on this :)?

[2022-11-08 14:50] MscrmTools commented on #53
If you get timeout, then you need to decrease number of batch count in Import panel or increase the timeout of your connection

[2022-11-10 13:58] MscrmTools commented on #47
Hi @zonton, @fscattolin, @ManuelBuecherl , @ingerAH-PP , @arlassen

I'm using latest version of this tool and I succeeded to translate tabs, sections and forms. See video below where I replace the suffixes (FR) and (US) of labels by (FR2) and (US2).
https://www.screencast.com/t/C6V0p2m9Lx

What I noticed is that labels are cached so that you need to Ctrl+F5 to see the change but it does work

My b

[2022-11-10 14:07] MscrmTools commented on #56
Hi @gvssr, I do not have an environment with Dutch enabled but I have one with multiple languages (5) enabled and it exports labels as expected.
Can you show me the settings you are using for this export?